/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
.up-to-date {
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #6B8E23;
    line-height: 25px;
    vertical-align: middle;
}


.update-possible {
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #ffa500;
    line-height: 25px;
    vertical-align: middle;
}

.semver-safe-update {
    display: inline-block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #FF6347;
    line-height: 25px;
    vertical-align: middle;
}

.up-to-date-small {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #6B8E23;
    line-height: 25px;
    vertical-align: middle;
}


.update-possible-small {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #ffa500;
    line-height: 25px;
    vertical-align: middle;
}

.semver-safe-update-small {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #FF6347;
    line-height: 25px;
    vertical-align: middle;
}

.legend .content div {
    padding-bottom: 5px;
}

.admin__fieldset-wrapper-content .admin__fieldset {
    padding-bottom: 0rem;
    padding-top: 0rem;
}
