/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
.up-to-date {
    width: 1%;
    padding: 10px 11px;
    border-radius: 25px;
    background-color: #6B8E23;
}
.status-up-to-date {
    color: #6B8E23;
}

.update-possible {
    width: 1%;
    padding: 10px 11px;
    border-radius: 25px;
    background-color: #ffa500;
}

.status-update-possible {
    color: #ffa500;
}

.semver-safe-update {
    width: 1%;
    padding: 10px 11px;
    border-radius: 25px;
    background-color: #FF6347;
}

.status-semver-safe-update {
    color: #FF6347;
}